$theme-name: dark;

$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

//$primary-font-family: "Lato";
//$secondary-font-family: "Comfortaa";
//$third-font-family: "RockoFLF";

$primary-font-family: "Lovelace";
$secondary-font-family: "Open Sans";
$third-font-family: "RockoFLF";

$themes: (
    modern: (background: #e4ddd6,
        foreground : #3c276a,
        focus: #98c8b4,
        primary: (50 : #f1ebff,
            100: #d2c7ec,
            200: #b4a2dd,
            300: #b4a2dd,
            400: #7858bf,
            500: #5f3fa6,
            600: #4a3081,
            700: #35225d,
            800: #20153a,
            900: #0c0618,
            DEFAULT: #35225d),
    ),
    light1: (background: #ffffff,
        foreground : #000000,
        focus: #ffdb15,
        primary: (50 : #f3f6ef,
            100: #e5eadd,
            200: #cdd8be,
            300: #acbf97,
            400: #8ea675,
            500: #78925d,
            600: #586d43,
            700: #455536,
            800: #39452f,
            900: #323c2b,
            DEFAULT: #78925d),
    ),
    dark1: (primary_color: (31, 255, 34),
        secondary_color: (255, 255, 255),
        inputs_colors: (88, 176, 103),
        text_color: (255, 255, 255),
        secondary_text_color: (128, 128, 128),
        background_color: (0, 0, 0),
        background_opocite_color: (255, 255, 255),
        remark_color: (181, 222, 0),
        container_color: (77, 76, 76),
    ),
);