.navbarC {
    //background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(0, 0, 0) 150%);
    padding:  0 8vw;

    img {
        width: 100px;
    }

    
}

.navbarB {
    header {
        ul {
            li {
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.navbarM {
    background-color: #D0C1DA;
    li {
        a {
            font-family: Poopins;
        }
    }
}