.navbarC {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    padding:  0 8vw;

    img {
        width: 100px;
    }

    
}

.navbarB {
    header {
        ul {
            li {
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}