@use '../../../styles/' as *;
.formulary {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60svh;

    @media (max-width: $medium) {
        //media------------------------------------------------------------------
        flex-direction: column;
        gap: 20px;
    }

    .carreteImg {
        position: absolute;
        width: 200px;
        bottom: 0;
        @media (max-width: $medium) {
            //media------------------------------------------------------------------
            display: none;
        }
    }

    .instructive {

        h1 {
            text-align: center;
            margin-bottom: 40px;

            div {
                p {
                    font-family: "Lovelace";
                    font-size: 2rem;
                }
            }
        }

        h2 {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            margin-top: 10px;
            gap: 15px;

            @media (max-width: $medium) {
                //media------------------------------------------------------------------
                font-size: 1.3rem;
            }

            span {
                display: flex;
                font-family: "Poopins";
                background-color: var(--focus);
                align-items: center;
                justify-content: center;
                min-width: 60px;
                height: 60px;
                border-radius: 100%;
                font-size: 3rem;
            }
        }
    }

    .formulary-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        height: fit-content;
        gap: 20px;

        h1 {
            font-size: 2rem;
        }

        .formulary-inputs {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;

            .form-col1 {
                width: 50%;
            }

            .form-col2 {
                width: 50%;
            }
        }
    }
}