@use '../../../styles/' as *;

.wsp {
    width: 100px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2;
    img {
        width: 100%;
    }

    @media (max-width: $medium) {
        //media------------------------------------------------------------------
        width: 50px;
    }
}